<div class="comment_editor flex gap-[10px]" th:fragment="comment-editor">
	<div class="cmm_editor_left">
		<img height="50px" width="50px" class="rounded-full"
			src="https://i.pravatar.cc/150?img=1">
	</div>

	<div class="cmm_editor_right w-full mb-3">
		<form th:action="@{'/comments/create?objectId=' + ${objectId} + '&commentType=' + ${commentType} }" th:object="${commentInput}" method="post">
		<textarea id="comment_value_parent"
			class="w-full h-[100px] p-2 rounded"
			style="border: 1px solid gainsboro;" placeholder="Write a comment..."
				  th:field="*{content}"></textarea>
		<button type="submit" class="bg-[salmon] text-white m-2 p-[5px] rounded float-right">Post</button>
		</form>
	</div>
</div>