<li class="comment_parent grid gap-[10px] relative" th:fragment="comment-list">
    <div style="border-bottom: 1px solid #e5e7eb" class="pt-[10px]" th:if="${commentPage.content.size() > 0}" th:each="comment : ${commentPage.content}">
        <div class="comment_author_action absolute right-0 z-[10]" th:if="${comment.getCommentParent} == null">
            <!-- write action delete, delete -->
            <p
                    class="cmm_action_menu cursor-pointer px-[5px] hover:text-gray-500 flex justify-end">
                <img style="height: 15px;"
                     src="/static/images/post/dot-menu-vertical.png">
            </p>

            <div class="cmm_action_list grid rounded px-[5px] py-[10px] bg-gray-200 text-sm hidden">
                <span
                        class="ease-in-out duration-300 hover:text-red-500 cursor-pointer comment_update">Edit
                </span>
                <span
                        class="ease-in-out duration-300 hover:text-red-500 cursor-pointer"><a
                        th:href="@{'/comment/delete/'+${comment.getId()} + '?objectId=' + ${objectId} + '&commentType=' ${commentType} }">Delete</a>
                </span>
            </div>
        </div>

        <div class="comment_avatar flex space-x-3" th:if="${comment.getCommentParent} == null">
            <img height="50px" width="50px" class="rounded-full"
                 src="https://i.pravatar.cc/150?img=1">
            <div>
                <div class="comment_author font-bold">John Doe</div>
                <span class="comment_date text-[12px]" th:text="${comment.getCreatedAt()}"></span>
            </div>
        </div>

        <div class="comment_content w-full text-base" th:if="${comment.getCommentParent} == null">
            <div class="comment_content_top" th:text="${comment.getContent()}">
            </div>
            <div class="comment_update_form mb-[55px] w-full mt-3 hidden">
                <form th:action="@{'/comment/update/'+${comment.getId()}}" method="post">
                        <textarea id="comment_value_update-parent" value="" name="content"
                                  class="w-full h-[100px] p-2 rounded"
                                  style="border: 1px solid gainsboro;" placeholder="Write a comment..."></textarea>

                    <button type="submit" class="bg-[salmon] text-white m-2 p-[5px] rounded float-right">Update
                    </button>
                </form>
            </div>

            <div class="comment_content_bottom text-sm text-neutral-500">
                <span
                        class="comment_reply text-blue-400 hover:text-blue-500 cursor-pointer">Reply</span>
                <div class="comment_reply_form mb-[55px] w-full mt-3 hidden">
                    <form th:action="@{'/comments/create?objectId=' + ${objectId} + '&commentType=' + ${commentType} }"
                          method="post">
                        <textarea id="comment_value_parent" value="" name="content"
                                  class="w-full h-[100px] p-2 rounded"
                                  style="border: 1px solid gainsboro;" placeholder="Write a comment..."></textarea>
                        <input type="hidden" name="parentId" th:value="${comment.getId()}"/>

                        <button type="submit" class="bg-[salmon] text-white m-2 p-[5px] rounded float-right">Reply
                        </button>
                    </form>
                </div>
                <div class="comment_child_container bg-[#00000000] pl-[50px] ">
                    <div class="comment_child-item relative"
                         th:each="commentChild : ${comment.getChildComments}">
                        <div class="m-3 p-3 border border-gray-300">
                            <div class="comment_author_action absolute z-[10]" style="right: 15px">
                                <!-- write action delete, delete -->
                                <p
                                        class="cmm_action_menu cursor-pointer px-[5px] hover:text-gray-500 flex justify-end">
                                    <img style="height: 15px;"
                                         src="/static/images/post/dot-menu-vertical.png">
                                </p>

                                <div class="cmm_action_list grid rounded px-[5px] py-[10px] bg-gray-200 text-sm hidden">
                            <span
                                    class="ease-in-out duration-300 hover:text-red-500 cursor-pointer comment_update">Edit
                            </span>
                                    <span
                                            class="ease-in-out duration-300 hover:text-red-500 cursor-pointer"><a
                                            th:href="'/comment/delete/'+${commentChild.getId()}">Delete</a>
                            </span>
                                </div>
                            </div>
                            <div class="comment_avatar flex space-x-3">
                                <img height="50px" width="50px" class="rounded-full"
                                     src="https://i.pravatar.cc/150?img=1">
                                <div>
                                    <div class="comment_author font-bold">John Doe</div>
                                    <span class="comment_date text-[12px]"
                                          th:text="${commentChild.getCreatedAt()}"></span>
                                </div>
                            </div>
                            <div class="comment_content_child" th:text="${commentChild.getContent()}">
                            </div>
                        </div>
                        <div class="comment_update_form mb-[55px] w-full mt-3 hidden">
                            <form th:action="'/comment/update/'+${commentChild.getId()}" method="post">
                        <textarea id="comment_value_update" value="" name="content"
                                  class="w-full h-[100px] p-2 rounded"
                                  style="border: 1px solid gainsboro;" placeholder="Write a comment..."></textarea>

                                <button type="submit" class="bg-[salmon] text-white m-2 p-[5px] rounded float-right">
                                    Update
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</li>

