<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link href="../../static/main.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <footer class="w-[1100px] h-[100px] border shadow-sm">
        <div class="socials h-[32px] justify-center flex gap-[15px]">
            <a href="https://www.facebook.com/"
                class="bg-[#eb3349] text-white rounded-full w-[32px] border text-center leading-[30px]">
                <i class="fab fa-facebook-f"></i>
            </a>

            <a href="https://www.facebook.com/"
                class="bg-[#eb3349] text-white rounded-full w-[32px] border text-center leading-[30px]"><i
                    class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/"
                class="bg-[#eb3349] text-white rounded-full w-[32px] border text-center leading-[30px]">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.facebook.com/"
                class="bg-[#eb3349] text-white rounded-full w-[32px] border text-center leading-[30px]"><i
                    class="fab fa-youtube"></i></a>
        </div>

        <p class="copyright text-[13px] text-neutral-500 text-center mt-[10px]">© 2023 Madara Inc. All rights reserved</p>
    </footer>
</body>

</html>