
    <footer class="w-[1100px] h-[100px] py-[20px] shadow-sm" th:fragment="footer">
        <div class="socials h-[32px] justify-center flex gap-[15px]">
            <a href="https://www.facebook.com/"
                class="bg-[#eb3349] text-white rounded-full w-[32px] border text-center leading-[30px]">
                <i class="fab fa-facebook-f"></i>
            </a>

            <a href="https://www.facebook.com/"
                class="bg-[#eb3349] text-white rounded-full w-[32px] border text-center leading-[30px]"><i
                    class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/"
                class="bg-[#eb3349] text-white rounded-full w-[32px] border text-center leading-[30px]">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.facebook.com/"
                class="bg-[#eb3349] text-white rounded-full w-[32px] border text-center leading-[30px]"><i
                    class="fab fa-youtube"></i></a>
        </div>

        <p class="copyright text-[13px] text-neutral-500 text-center mt-[10px]">© 2023 Madara Inc. All rights reserved</p>
    </footer>
