<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Comment list</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static//main.css" rel="stylesheet">
    <link href="/static/main.css" rel="stylesheet">
</head>

<body>

    <div th:replace="fragments/comment/comment-section :: comment-section " />

</body>

</html>