<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../static/main.css" rel="stylesheet">
    <link href="/static/main.css" rel="stylesheet">
</head>

<body>
     <div class="main-layout max-w-[1000px] mx-auto">
        <div class="breadcrumb py-[10px]">
            <nav class="w-full rounded-md">
                <ol class="list-reset flex">
                    <li>
                        <a href="#"
                            class="text-sm text-blue-400 transition duration-150 ease-in-out hover:text-blue-600 focus:text-blue-600 active:text-blue-700 dark:text-blue-400 dark:hover:text-blue-500 dark:focus:text-blue-500 dark:active:text-blue-600">Home</a>
                    </li>
                    <li>
                        <span class="mx-2 text-neutral-500 dark:text-neutral-400">/</span>
                    </li>
                    <li>
                        <a href="#"
                            class="text-sm text-blue-400 transition duration-150 ease-in-out hover:text-blue-600 focus:text-blue-600 active:text-blue-700 dark:text-blue-400 dark:hover:text-blue-500 dark:focus:text-blue-500 dark:active:text-blue-600">Library</a>
                    </li>
                    <li>
                        <span class="mx-2 text-neutral-500 dark:text-neutral-400">/</span>
                    </li>
                    <li>
                        <a
                            class="text-sm text-primary transition duration-150 ease-in-out text-neutral-500 dark:text-neutral-400 ">Library</a>
                    </li>
                </ol>
            </nav>
        </div>

        <div class="main_layout_content flex">
            <div class="main_layout_content_left pr-[10px]">
                <!-- begin post info -->
                <div class="post_info">
                    <h1 class="post_title text-3xl font-bold">
                        블로그ㅣ생성형 AI 시대, PC와 스마트폰 사라질 수도
                    </h1>
                    <div class="post_metas text-[13px] my-2 flex gap-1">
                        <span>Category:
                            <a href="#" class="text-blue-400">News</a>
                        </span>

                        <span class="text-neutral-300">|</span>

                        <span>Wrote by:
                            <a href="#" class="text-blue-400">Admin</a>
                        </span>

                        <span class="text-neutral-300">|</span>

                        <span>Posted on:
                            2021-08-10 10:00:00
                        </span>
                    </div>

                    <hr class="mt-2" />
                </div>
                <!-- end post info -->

                <div class="post_content mt-[10px] hidden">
                    <strong>마이크로소프트가 ChatGPT를 탑재한 윈도우 11(Windows 11) 업데이트를 선보였다. 현시점에서 ChatGPT는 빙(Bing) 검색엔진의 프론트엔드에
                        불과하지만, 궁극적으로는 사람과 컴퓨터와의 상호작용 방식을 바꿀 수 있다.&nbsp;</strong><br>
                    <br>
                    또한 이를 마이크로소프트 밥(Bob)부터 시작해 클리피(Clippy)와 코타나(Cortana)로 이어진 긴 진화 단계라고 생각하면, 드디어 마이크로소프트가 이전에는 불가능했던
                    기능을 제공할 기회를 얻은 셈이다.&nbsp;<br>
                    <br>
                    자체 처리 기능을 갖춘 단말기에서 훨씬 더 유능하고 포괄적인 도구로 PC가 진화하는 것은 엄청난 변화다. 스마트폰이 음악을 재생하는 기능을 갖추면서 MP3 플레이어가 사라진
                    것처럼, PC가 스마트폰에 가까운 형태로 진화해 둘 중 하나는 쓸모없게 될 수 있다.&nbsp;<br>
                    &nbsp;
                    <figure class="image"><img alt="" onerror="removeImage($(this));"
                            src="/files/itworld/ITW_202303_01/GettyImages-1396060323.jpg" width="640" height="408"
                            border="0">
                        <figcaption>ⓒGetty Images Bank</figcaption>
                    </figure>
                    &nbsp;

                    <h2>MS 인공지능(AI) 기능의 흑역사&nbsp;</h2>
                    이제 와 고백하자면 필자는 <a href="https://en.wikipedia.org/wiki/Microsoft_Bob" target="_blank">마이크로소프트 밥</a>의
                    출시 행사에 참석했었다. 꽤 슬펐다. 그도 그럴 것이 마이크로소프트는 밥을 윈도우의 뒤를 이을 차세대 사용자 인터페이스로 홍보했다. 하지만 개발자들은 별다른 감흥을 느끼지 못했고,
                    밥은 마이크로소프트에서 내놓은 최악의 제품 중 하나가 됐다. 문제는 3가지였다. 첫째, 기술이 준비되지 않았다. 둘째, 개발자는 명령줄을 통한 GUI에 완전히 적응하지 못했다.
                    셋째, (이 제품을 좋아하는) 타깃 고객층이 무시됐다.&nbsp;<br>
                    <br>
                    밥은 기술에 두려움을 느끼는 노년층에게 인기가 많았다. 노년층은 윈도우보다 밥으로 작업하기가 더 쉽다고 생각했다. 하지만 대부분 PC 사용자는 밥을 자전거에 연습용 바퀴를 달았던
                    때로 돌아간 것과 같았다고 지적했다. 비효율적이고, 사용하기 다소 번거로웠으며, 기대에 훨씬 못 미쳤다.&nbsp;<br>
                    <br>
                    그다음 <a
                        href="https://www.seattlemet.com/news-and-city-life/2022/08/origin-story-of-clippy-the-microsoft-office-assistant"
                        target="_blank">‘클리피’</a>가 등장했다. 좋은 아이디어였지만 역시나 기술이 아직 준비되지 않았고, 대부분 사용자는 이를 성가시게 생각했다. 필자는 클리피의
                    대안이었던 <a href="https://www.youtube.com/watch?v=eZSL_ZnkhgQ" target="_blank">F1</a>을 사용해 본 적 있는데,
                    의도대로 사용하진 않았지만 돌보지 않아도 되는 디지털 반려동물처럼 가끔 손을 흔들어 주는 작은 녀석이 마음에 들었다(사실 아직도 그립다!).&nbsp;<br>
                    <br>
                    이어 모습을 드러낸 코타나는 헤일로(Halo) 게임에서 <a href="https://www.youtube.com/watch?v=_JgFA5HTOuI"
                        target="_blank">코타나가 차지하는 역할</a>(스마트 AI이자 여주인공)을 감안한다면, 게임 판도를 바꿀 존재여야 했다. 실제로 헤일로 게임을 해봤다면 알겠지만
                    게임 속 코타나는 마이크로소프트가 제공하는 수준을 훨씬 더 뛰어넘었고, 마이크로소프트의 코타나는 그렇지 못했다.&nbsp;<br>
                    <br>

                </div>

                <!-- begin post tags -->
                <div class="post_tags flex gap-2">
                    <span class="flex gap-2 items-center">
                        <img src="../../static/images/post/tag_icon.svg">
                        Tags:
                    </span>
                    <ul class="tag_list text-sm flex flex-wrap gap-[5px]">
                        <li class="bg-slate-200 px-[10px] py-[2px] rounded">
                            <a>
                                fsa
                            </a>
                        </li>

                        <li class="bg-slate-200 px-[10px] py-[2px] rounded">
                            <a>
                                fsa
                            </a>
                        </li>
                        <li class="bg-slate-200 px-[10px] py-[2px] rounded">
                            <a>
                                fsa
                            </a>
                        </li>
                        <li class="bg-slate-200 px-[10px] py-[2px] rounded">
                            <a>
                                fsa
                            </a>
                        </li>
                        <li class="bg-slate-200 px-[10px] py-[2px] rounded">
                            <a>
                                fsa
                            </a>
                        </li>
                        <li class="bg-slate-200 px-[10px] py-[2px] rounded">
                            <a>
                                fsa
                            </a>
                        </li>
                        <li class="bg-slate-200 px-[10px] py-[2px] rounded">
                            <a>
                                fsa
                            </a>
                        </li>
                        <li class="bg-slate-200 px-[10px] py-[2px] rounded">
                            <a>
                                fsa
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- end post tags -->

                <!-- begin prev-next post max characters: 71  -->
                <div class="prev-next-post flex gap-[20px] justify-center mt-[50px]">

                    <div class="prev_post_info max-w-[300px] text-sm  rounded" style="border: 1px solid gainsboro;">
                        <p class="text-center text-sm">Prev post</p>
                        <a class="flex gap-1">
                            <img style="height: 120px; width: 150px; object-fit: fill;"
                                src="https://files.itworld.co.kr/ITW_202302_02/890xrobot.png">
                            <div class="prev_post_title px-1">
                                유동적인 디자인으로 바뀌며, PC 자체는 더 개인화될 것이다(그리고 더 클라우드를 기반으로 할 것이다). 이는 차세대 생 ...
                            </div>
                        </a>
                    </div>

                    <div class="next_post_info  max-w-[300px] text-sm rounded" style="border: 1px solid gainsboro;">
                        <p class="text-center">Next post</p>
                        <a class="flex gap-1">
                            <div class="prev_post_title px-1">
                                유동적인 디자인으로 바뀌며, PC 자체는 더 개인화될 것이다(그리고 더 클라우드를 기반으로 할 것이다). 이는 차세대 생 ...
                            </div>
                            <img style="height: 120px; width: 150px; object-fit: fill;"
                                src="https://files.itworld.co.kr/ITW_202302_02/890xrobot.png">
                        </a>
                    </div>
                </div>
                <!-- end prev-next post -->

                <!-- begin post comment -->
                <div class="post_comment mt-[20px]">
                    <div class="post_comment_top flex justify-between bg-[salmon] px-2 py-4 ">
                        <span class="text-white">Total 1254 comments</span>
                        <div>
                            <span class="text-white">
                                Sort:
                            </span>

                            <select class="rounded" value="newest">
                                <option class="newest">Oldest</option>
                                <option>Newest</option>
                            </select>
                        </div>
                    </div>

                    <hr class="my-[20px]" />
                    <div class="post_comment_body">
                        <div class="post_comment_editor flex gap-[10px]">
                            <div class="post_cmm_editor_left">
                                <img height="50px" width="50px" class="rounded-full"
                                    src="https://i.pravatar.cc/150?img=1">
                            </div>
                            <div class="post_cmm_editor_right w-full">
                                <textarea id="comment_value_parent" class="w-full h-[100px] p-2 rounded"
                                    style="border: 1px solid gainsboro;" placeholder="Write a comment..."></textarea>
                                <button class="bg-[salmon] text-white m-2 p-[5px] rounded float-right">Post</button>
                            </div>
                        </div>

                        <!-- begin comment list -->
                        <ul class="comment_list grid gap-y-[20px]">
                            <li class="comment_parent flex gap-[10px] relative">
                                <div class="comment_author_action absolute top-0 right-0 z-[10]">
                                    <!-- write action delete, delete -->
                                    <p
                                        class="cmm_action_menu cursor-pointer px-[5px] hover:text-gray-500 flex justify-end">
                                        <img style="height: 15px;"
                                            src="../../static//images/post/dot-menu-vertical.png">
                                    </p>

                                    <div
                                        class="cmm_action_list grid rounded px-[5px] py-[10px] bg-gray-200 text-sm hidden">
                                        <span
                                            class="ease-in-out duration-300 hover:text-red-500 cursor-pointer">Edit</span>
                                        <span
                                            class="ease-in-out duration-300 hover:text-red-500 cursor-pointer">Delete</span>
                                    </div>
                                </div>

                                <div class="comment_avatar">
                                    <img height="50px" width="50px" class="rounded-full"
                                        src="https://i.pravatar.cc/150?img=1">
                                </div>

                                <div class="comment_content w-full text-base">
                                    <div class="comment_author font-bold">
                                        John Doe
                                    </div>
                                    <div class="comment_content_top">
                                        ChatGPT 을 사용해보니 참편리하고 상상이상입니다.발전속도가 대단합니다....
                                        ChatGPT 을 사용해보니 참편리하고 상상이상입니다.발전속도가 대단합니다....
                                    </div>

                                    <div class="comment_content_bottom text-sm text-neutral-500">
                                        <span class="comment_date">2021-08-01 12:00:00</span>
                                        <span class="text-neutral-400">|</span>
                                        <span
                                            class="comment_reply text-blue-400 hover:text-blue-500 cursor-pointer">Reply</span>
                                    </div>

                                    <ul class="comment_childs mt-[10px] grid gap-[10px]">
                                        <div class="comment_child flex gap-[10px] relative">
                                            <div class="comment_author_action absolute top-0 right-0 z-[10]">
                                                <!-- write action delete, delete -->
                                                <p
                                                    class="cmm_action_menu cursor-pointer px-[5px] hover:text-gray-500 flex justify-end">
                                                    <img style="height: 15px;"
                                                        src="../../static//images/post/dot-menu-vertical.png">
                                                </p>

                                                <div
                                                    class="cmm_action_list grid rounded px-[5px] py-[10px] bg-gray-200 text-sm hidden">
                                                    <span
                                                        class="ease-in-out duration-300 hover:text-red-500 cursor-pointer">Edit</span>
                                                    <span
                                                        class="ease-in-out duration-300 hover:text-red-500 cursor-pointer">Delete</span>
                                                </div>
                                            </div>

                                            <div class="comment_avatar">
                                                <img height="50px" width="50px" class="rounded-full"
                                                    src="https://i.pravatar.cc/150?img=1">
                                            </div>

                                            <div class="comment_content w-full text-base">
                                                <div class="comment_author font-bold">
                                                    John Doe
                                                </div>
                                                <div class="comment_content_top">
                                                    ChatGPT 을 사용해보니 참편리하고 상상이상입니다.발전속도가 대단합니다....
                                                    ChatGPT 을 사용해보니 참편리하고 상상이상입니다.발전속도가 대단합니다....
                                                </div>

                                                <div class="comment_content_bottom text-sm text-neutral-500">
                                                    <span class="comment_date">2021-08-01 12:00:00</span>
                                                    <span class="text-neutral-400">|</span>
                                                    <span
                                                        class="comment_reply text-blue-400 hover:text-blue-500 cursor-pointer">Reply</span>
                                                </div>

                                                <div class="comment_childs">


                                                </div>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>


                    <script>
                        [...document.getElementsByClassName('cmm_action_menu')].forEach(e => {
                            e.addEventListener('click', function () {
                                document.getElementsByClassName('cmm_action_list')[0].classList.toggle('hidden');
                            })
                        });

                    </script>
                    <!-- end comment list -->

                </div>

                <div class="comment_page mt-[20px]">
                    <div class="flex justify-center">
                        <nav aria-label="Page navigation example">
                            <ul class="list-style-none flex">
                                <li>
                                    <a class="relative block rounded bg-transparent py-1.5 px-3 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-100 dark:text-white dark:hover:bg-neutral-700 dark:hover:text-white"
                                        href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="relative block rounded bg-transparent py-1.5 px-3 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-100 dark:text-white dark:hover:bg-neutral-700 dark:hover:text-white"
                                        href="#">1</a>
                                </li>
                                <li aria-current="page">
                                    <a class="relative block rounded bg-transparent py-1.5 px-3 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-100 dark:text-white dark:hover:bg-neutral-700 dark:hover:text-white"
                                        href="#">2</a>
                                </li>
                                <li>
                                    <a class="relative block rounded bg-transparent py-1.5 px-3 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-100 dark:text-white dark:hover:bg-neutral-700 dark:hover:text-white"
                                        href="#">3</a>
                                </li>
                                <li>
                                    <a class="relative block rounded bg-transparent py-1.5 px-3 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-100 dark:text-white dark:hover:bg-neutral-700 dark:hover:text-white"
                                        href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- end post comment -->
        </div>

        <div class="main_layout_content_right max-w-[300px] pl-[10px]" style="border-left: 1px solid gainsboro;">

        </div>
    </div>
</body>

</html>