<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout.html}">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thông tin cá nhân</title>
    <link href="/src/main/resources/static/main.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/b86979ecfa.js" crossorigin="anonymous"></script>
    <script src="node_modules/@material-tailwind/html/scripts/collapse.js"></script>
</head>

<body>
    <div class="w-[1100px] mx-auto bg-white" layout:fragment="content">
        <div class="grid grid-cols-4 min-h-[670px]">
            <div th:replace="account/fragments/sidebar :: user-sidebar" />

            <div class="col-span-3 w-[780px] p-4 mt-4 bg-white">
                <h3 class="mb-[10px] font-semibold text-2xl">Thông tin gói</h3>

                <p class="mb-[15px]" th:if="${!isUsingTrial && currentUsingSubsPack == null}">Hiện bạn chưa sử dụng gói nào!</p>
                <button th:if="${!isUsingTrial && currentUsingSubsPack == null}"
                        class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto">
                    <a href="/subscription_pack/load" class="text-white">Mua gói</a></button>


                <div th:if="${isUsingTrial}">
                    <p>Bạn đang sử dụng gói dùng thử 3 ngày.</p>
                    <p>Thời hạn đọc đến: <span
                            th:text="${#dates.format(session.loggedUser.getCanReadUntilDate(), 'dd-MM-yyyy')}"></span>
                    </p>
                    <p>Trạng thái: 
                        <span th:if="${!isTrialExpired}" class="text-green-500 font-semibold">Đang hoạt động</span>
                        <span th:if="${isTrialExpired}" class="text-red-500 font-semibold">Đã hết hạn</span>
                    </p>

                    <div class="flex gap-[10px] mt-[15px]">
                        <button th:if="${canUpgradeSubs && isUsingTrial}"
                                class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto">
                            <a href="/subscription_pack/load" class="text-white">Mua gói</a></button>

                        <button th:if="${canUpgradeSubs && !isUsingTrial}"
                                class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto">
                            <a href="/user/upgrade-subscription" class="text-white">Nâng
                                cấp gói</a>
                        </button>

                    </div>
                </div>

                <div th:if="${currentUsingSubsPack != null}">
                    <p>Bạn đang sử dụng gói
                        <span th:text="${currentUsingSubsPack.getMonthCount() + ' tháng.'}"></span>

                    </p>
                    <p>Thời hạn đọc đến: <span
                            th:text="${#dates.format(session.loggedUser.getCanReadUntilDate(), 'dd-MM-yyyy')}"></span>
                    </p>
                    <p>Trạng thái:
                        <span th:if="${!isExpiredSub}" class="text-green-500 font-semibold">Đang hoạt động</span>
                        <span th:if="${isExpiredSub}" class="text-red-500 font-semibold">Đã hết hạn</span>
                    </p>
                    <div class="flex gap-[10px] mt-[15px]">
                        <button th:if="${canUpgradeSubs}"
                                class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto">
                            <a href="/user/upgrade-subscription" class="text-white">Nâng
                                cấp gói</a></button>

                        <button th:if="${!isUsingTrial && isExpiredSub && canUpgradeSubs}"
                                class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto">
                            <a href="/user/renew_subscription_pack" class="text-white">Gia hạn lại</a></button>
                    </div>



                </div>

            </div>
        </div>
    </div>
</body>

</html>