<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="w-[1100px] m-auto bg-white min-h-[500px] p-[15px]" layout:fragment="content">
    Bạn đã xác nhận chuyển khoản vui lòng đợi admin kiểm tra!!!
    <button>
        <a href="/" class="text-blue-400 hover:text-blue-500">Về trang chủ</a>
    </button>
</div>

</body>
</html>