<!DOCTYPE >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kết quả</title>
    <link href="/src/main/resources/static/main.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/b86979ecfa.js" crossorigin="anonymous"></script>
    <script src="node_modules/@material-tailwind/html/scripts/collapse.js"></script>
  </head>

  <body>
    <div class="w-[1100px] m-auto">
        <div class="flex flex-row justify-center">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmbNMldGQUUZRNFdqnNfVQ852WndHtHfKpRA&usqp=CAU" />
</div>  
<h4 class="text-xl text-green-700 font-medium uppercase text-center " th:text="${ketQua}"></h4>
<div class="flex justify-center mt-10">
<table class="border-collapse w-125 justify-center">
  <tbody>
    <tr>
      <td class="h-12 text-green-600  font-medium uppercase ">Mã đơn hàng</td>
      <td class="h-12 text-green-600 font-medium text-center uppercase"><p th:text="${maDonHang}"></p></td>
    </tr>
    <tr>
      <td class="h-12 w-72 text-green-600 font-medium uppercase ">Mã giao dịch</td>
      <td class="h-12 w-72  font-medium text-center uppercase"> <p th:text="${maGD}"></p></td>
    </tr>
    <tr>
      <td class="h-12 text-green-600 font-medium uppercase ">Ngân hàng </td>
      <td class="h-12 text-green-600 font-medium text-center  uppercase"><p th:text="${maNganHang}"></p></td>
    </tr>
    <tr>
      <td class="h-12 text-green-600 font-medium uppercase ">Thời gian thanh toán</td>
      <td class="h-12 text-green-600 font-medium text-center uppercase "><p th:text="${thoiGianTT}"></p></td>
    </tr>
    <tr>
      <td class="h-12 text-green-600 font-medium uppercase ">Nội dung thanh toán</td>
      <td class="h-12 text-green-600 font-medium text-center uppercase"><p th:text="${noiDungTT}"></p></td>
    </tr>
  </tbody>
</table>
</div>
</div>
</body>
</html>