<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layout.html}">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link href="/src/main/resources/static/main.css" rel="stylesheet" />
    <!-- <link href="/static/main.css" rel="stylesheet" /> -->
    <script
      src="https://kit.fontawesome.com/b86979ecfa.js"
      crossorigin="anonymous"
    ></script>
    <script src="node_modules/@material-tailwind/html/scripts/collapse.js"></script>
  </head>
  <body>
    <div class="w-[1100px] mx-auto" layout:fragment="content">
        <div class="grid grid-cols-4">
            <div class="">
              <div
                class="w-[250px] h-[300px] border-solid border rounded-md border-gray-400"
              >
                <div class="pl-16 pt-14">
                  <img
                      src="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp"
                      class="w-32 rounded-full shadow-lg"
                      alt="Avatar" />
                </div>
                <div>
                  <h2 class="text-center text-xl">Nguyễn Văn A</h2>
                </div>
                <div>
                  <div class="flex justify-center">
                    <button
                      class="bg-purple-900 hover:bg-purple-950 border-none text-white w-24 h-8 rounded-lg"
                    >
                      Dashboard
                    </button>
                  </div>
                </div>
              </div>
              <div class="my-10 w-[250px] h-[154px]">
                <div class="w-full text-gray-900 bg-white rounded-lg">
                  <button
                    type="button"
                    class="relative inline-flex items-center w-full px-4 py-2 text-sm font-medium border-b rounded-t-md border-gray-200 bg-white focus:z-10 focus:ring-2 hover:bg-red-400 hover:text-white"
                  >
                    <svg
                      aria-hidden="true"
                      class="w-4 h-4 mr-2 fill-current"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                    Profile
                  </button>
                  <button
                    type="button"
                    class="relative inline-flex items-center w-full px-4 py-2 text-sm font-medium border-b rounded-b-md border-gray-200 bg-white focus:z-10 focus:ring-2 hover:bg-red-400 hover:text-white"
                  >
                    <svg
                      aria-hidden="true"
                      class="w-4 h-4 mr-2 fill-current"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M5 4a1 1 0 00-2 0v7.268a2 2 0 000 3.464V16a1 1 0 102 0v-1.268a2 2 0 000-3.464V4zM11 4a1 1 0 10-2 0v1.268a2 2 0 000 3.464V16a1 1 0 102 0V8.732a2 2 0 000-3.464V4zM16 3a1 1 0 011 1v7.268a2 2 0 010 3.464V16a1 1 0 11-2 0v-1.268a2 2 0 010-3.464V4a1 1 0 011-1z"
                      ></path>
                    </svg>
                    Settings
                  </button>
                </div>
              </div>
            </div>
            <div class="col-span-3">
                <div>
                  <div
                    class="mx-auto w-[780px] h-auto border-solid border rounded-md border-gray-400 p-5"
                  >
      <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left text-gray-500 bg-gray-300">
          <thead class="text-xs text-gray-700 uppercase bg-red-400">
            <tr>
              <th scope="col" class="px-6 py-3">Gói truyện</th>
              <th scope="col" class="px-6 py-3">Giá</th>
              <th scope="col" class="px-6 py-3">Thời gian đọc</th>
              <th scope="col" class="px-6 py-3">Ngày mua</th>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-white border-b" th:each="item: ${order}">
              <!-- <td class="px-6 py-4" th:text="${item.subs_pack_id.name}"></td> -->
              <td
                class="px-6 py-4"
                th:text="${#numbers.formatCurrency(item.finalPrice)}"
              ></td>
              <!-- <td
                class="px-6 py-4"
                th:text="${item.subs_pack_id.dayCount + ' Ngày'}"
              ></td> -->
              <td class="px-6 py-4" th:text="${item.gioLap}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>  
 </div>
 </div>
 </div>
</div>
  </body>
</html>
