<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="../static/main.css" rel="stylesheet" />
    <link href="/static/main.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/b86979ecfa.js"
      crossorigin="anonymous"
    ></script>
    <script src="node_modules/@material-tailwind/html/scripts/collapse.js"></script>
  </head>
  <body>
    <div class="w-[1100px] m-auto">
      <div class="flex flex-row justify-center">
        <div class="basis-1/5 mx-16 ">
          <h2>Mã đơn hàng:</h2>
          <h2 class="font-medium" th:text="${maDonHang}"></h2>
        </div>
        <div class="basis-1/5 mx-16">
          <h2>Tên đơn hàng:</h2>
          <h2 class="font-medium" th:text="${name}"></h2>
        </div>
        <div class="basis-1/5 mx-16">
            <h2>Tổng cộng:</h2>
            <h2 class="font-medium" th:text="${price.intValue()}">đ</h2>
          </div>
        <div class="basis-1/5 mx-16">
          <h2>Phương thức thanh toán:</h2>
          <h2 class="font-medium">Chuyển khoản ngân hàng</h2>
        </div>
      </div>

      <h2 class="text-center mt-10 text-xl">Mã QR chuyển khoản ngân hàng</h2>
      <div class="flex flex-row justify-center">
        <div class="basis-1/2 mt-10">
          <img
            src="https://bizweb.dktcdn.net/100/150/781/files/vnpayqr-code.jpg?v=1563855957237"
            class="h-72 w-72"
            alt=""
          />
        </div>
      </div>
        <h2 class="text-center mt-10 text-xl">Thông tin chuyển khoản</h2>
        <h3 class="text-center mt-5 text-lg text-red-500 font-medium">Vui lòng chuyển đúng nội dung CHUYENKHOAN để chúng tôi có thể xác nhận thanh toán</h3>
      <div class="flex justify-center mt-10">
      <table class="border-collapse border border-slate-500 w-125">
        <tbody>
          <tr>
            <td class="h-10 w-72 border border-slate-700 text-center ">Tên tài khoản</td>
            <td class="h-10 w-72 border border-slate-700 text-center ">Nguyen Van A</td>
          </tr>
          <tr>
            <td class="h-10 border border-slate-700 text-center">Số tài khoản</td>
            <td class="h-10 border border-slate-700 text-center ">5546548995231</td>
          </tr>
          <tr>
            <td class="h-10 border border-slate-700 text-center">Ngân hàng</td>
            <td class="h-10 border border-slate-700 text-center ">Ngân hàng TMCP Quân đội</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </body>
</html>
