<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout.html}">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Đổi mật khẩu</title>
  <link href="/src/main/resources/static/main.css" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/b86979ecfa.js" crossorigin="anonymous"></script>
  <script src="node_modules/@material-tailwind/html/scripts/collapse.js"></script>
</head>

<body>
  <div class="w-[1100px] mx-auto bg-white" layout:fragment="content">
    <div class="grid grid-cols-4 min-h-[670px]">
      <div th:replace="account/fragments/sidebar :: user-sidebar" />

      <div class="col-span-3">
        <div>
          <div class="mx-auto w-[780px] h-[480px] p-[15px] mt-4 bg-white">

            <div class="max-w-md w-full">
              <div>
                <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
                <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
                  Đổi mật khẩu
                </h2>
              </div>
              <form class="mt-8" th:action="@{/user/change_password/handle}" method="POST">
                <input type="hidden" name="remember" value="true">
                <div class="rounded-md shadow-sm">
                  <div class="-mt-px">
                    <input aria-label="Current password" name="oldPassword" type="password" required
                           class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                           placeholder="Nhập mật khẩu cũ ...">
                  </div>
                  <div class="-mt-px">
                    <input aria-label="New password" name="newPassword" type="password" required
                           class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                           placeholder="Nhập mật khẩu mới...">
                  </div>
                  <div class="-mt-px">
                    <input aria-label="Confirm password" name="confirmPassword" type="password" required
                           class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                           placeholder="Xác nhận lại mật khẩu mới..">
                  </div>
                </div>
                <p th:if="${error_message != null}" th:text="${error_message}" class="mt-[10px] text-red-500 text-[13px]"></p>
                <p th:if="${success_message != null}" th:text="${success_message}" class="mt-[10px] text-green-500 text-[13px]"></p>


                <div class="mt-6 flex justify-between">
                  <a href="#" class="group text-gray-600 hover:text-gray-900 focus:text-gray-900">
                    <span class="mr-2">Quên mật khẩu?</span>
                  </a>
                  <button type="submit" class="ml-4 py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline-blue active:bg-indigo-800 transition duration-150 ease-in-out">
                    Đổi mật khẩu
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>

</html>