<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Quên mật khẩu</title>
    <link href="/static/main.css" rel="stylesheet">
</head>
<body class="bg-neutral-100">

<section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center min-h-screen bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
        <div class="max-w-md w-full bg-white p-[15px]">
            <a href="/" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white justify-center">
                <span>Webtoon</span>
            </a>
            <div>
                <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
                    Quên mật khẩu
                </h2>
                <p class="mt-2 text-center text-sm leading-5 text-gray-600">
                    Nhập địa chỉ email để lấy lại mật khẩu.
                </p>
            </div>
            <form class="mt-8" action="/forgot-password" method="POST">
                <input type="hidden" name="remember" value="true">
                <div class="rounded-md shadow-sm">
                    <div>
                        <input aria-label="Email address" name="email" type="email" required
                               class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                               placeholder="Nhập email..">
                    </div>
                </div>

                <div class="mt-6 flex justify-between">
                    <a href="/signin" class="group text-gray-600 hover:text-gray-900 focus:text-gray-900">
                        <span class="mr-2">Đăng nhập?</span>
                    </a>
                    <button type="submit"
                            class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto cursor-pointer"
                    >
                        Gửi yêu cầu
                    </button>
                </div>
            </form>

            <p class="text-[13px] text-green-500" th:if="${message != null}" th:text="${message}"></p>
        </div>
    </div>
</section>

</body>
</html>