<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout.html}">

<head>
  <meta charset="UTF-8" />
  <title>Lịch sử mua hàng</title>
  <link href="/src/main/resources/static/main.css" rel="stylesheet" />
  <!-- <link href="/static/main.css" rel="stylesheet" /> -->
  <script src="https://kit.fontawesome.com/b86979ecfa.js" crossorigin="anonymous"></script>
  <script src="node_modules/@material-tailwind/html/scripts/collapse.js"></script>
</head>

<body>
  <div class="w-[1100px] mx-auto pt-[15px]" layout:fragment="content">
    <div class="grid grid-cols-4">
      <div class="">
        <div class="w-[250px] h-auto border-solid border rounded-md border-gray-400">
          <div class="pl-16 pt-14">
            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp" class="w-32 rounded-full shadow-lg"
              alt="Avatar" />
          </div>
          <div>
            <h2 class="text-center text-xl" th:text="${user.fullName}"></h2>
          </div>
          <div>
            <p class="text-[14px] text-center my-[10px]">
              Thời hạn đọc còn: 39 ngày
            </p>
          </div>
        </div>
        <div class="my-10 w-[250px] h-[154px]">
          <div class="w-full text-gray-900 bg-white rounded-lg">
            <button th:onclick="| window.location.href='http://localhost:8080/user/profile'|" type="button"
              class="relative inline-flex items-center w-full px-4 py-2 text-sm font-medium border-b rounded-t-md border-gray-200 bg-white focus:z-10 focus:ring-2 hover:bg-red-400 hover:text-white">
              <svg aria-hidden="true" class="w-4 h-4 mr-2 fill-current" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z"
                  clip-rule="evenodd"></path>
              </svg>
              Profile
            </button>
            <a href="/user/userOrder"
              class="relative inline-flex items-center w-full px-4 py-2 text-sm font-medium border-b rounded-b-md border-gray-200 bg-white focus:z-10 focus:ring-2 hover:bg-red-400 hover:text-white">
              <svg aria-hidden="true" class="w-4 h-4 mr-2 fill-current" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M5 4a1 1 0 00-2 0v7.268a2 2 0 000 3.464V16a1 1 0 102 0v-1.268a2 2 0 000-3.464V4zM11 4a1 1 0 10-2 0v1.268a2 2 0 000 3.464V16a1 1 0 102 0V8.732a2 2 0 000-3.464V4zM16 3a1 1 0 011 1v7.268a2 2 0 010 3.464V16a1 1 0 11-2 0v-1.268a2 2 0 010-3.464V4a1 1 0 011-1z">
                </path>
              </svg>
              Lịch sử mua
            </a>
          </div>
        </div>
      </div>
      <div class="col-span-3">
        <script>
          function confirmCancelOrder(e) {
            showConfirmModal('Bạn có chắc muốn hủy?', () => {

              console.log('cancel order');
              const tagA = document.createElement('a');
              tagA.href = '/order/cancelOrder/' + e.dataset.id + '?page=' + e.dataset.page;
              tagA.click();
            });
          }

          function confirmReturnOrder(e) {
            showConfirmModal('Bạn có chắc muốn hoàn tiền?', () => {
              console.log('return order');
              const tagA = document.createElement('a');
              tagA.href = '/order/returnOrder/' + e.dataset.id + '?page=' + e.dataset.page;;
              tagA.click();
            });
          }
        </script>

        <div>
          <div class="mx-auto w-[780px] h-auto border-solid border rounded-md border-gray-400 p-5">
            <h3 class="text-xl font-semibold mb-[15px]">Lịch sử mua</h3>
            <div class="relative overflow-x-auto">
              <table class="w-full text-sm text-left text-gray-500 bg-gray-300">
                <thead class="text-xs text-white uppercase bg-red-400">
                  <tr>
                    <th scope="col" class="px-6 py-3">#</th>
                    <th scope="col" class="px-6 py-3">Gói truyện</th>
                    <th scope="col" class="px-6 py-3">Giá</th>
                    <th scope="col" class="px-6 py-3">Phương thức thanh toán</th>
                    <th scope="col" class="px-6 py-3">Ngày mua</th>
                    <th scope="col" class="px-6 py-3">Ngày hết hạn</th>
                    <th scope="col" class="px-6 py-3">Trạng thái</th>
                    <th scope="col" class="px-6 py-3">Thao tác</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="bg-white border-b" th:each="item,iter: ${orders}">
                    <td class="px-6 py-4" th:text="${iter.index+1}"></td>
                    <td class="px-6 py-4" th:text="${item.subs_pack_id.name}"></td>
                    <td class="px-6 py-4"
                      th:text="${#numbers.formatDecimal(item.finalPrice, 0, 'POINT', 0, 'POINT') + ' vnd' }"></td>
                    <td class="px-6 py-4">
                      <span th:if="${item.paymentMethod.name().equals('ATM')}">
                        Chuyển khoản
                      </span>
                      <span th:if="${item.paymentMethod.name().equals('VN_PAY')}">
                        VNPAY
                      </span>
                    </td>
                    <td class="px-6 py-4" th:text="${#dates.format(item.created_at, 'dd-MM-yyyy')}"></td>
                    <td class="px-6 py-4">
                      <span th:if="${item.expiredSubsDate != null}"
                        th:text="${#dates.format(item.expiredSubsDate, 'dd-MM-yyyy')}">
                      </span>
                      <span th:if="${item.expiredSubsDate == null}">-</span>
                    </td>
                    <td class="px-6 py-4" th:text="${statusMap.get(item.status)}"></td>

                    <td class="text-center mt-[10px]">

                      <div class="flex gap-[10px]" th:if="${item.created_at.after(canCancelOrReturnDate) && !item.status.name().equals('CANCELED')}">

                        <div th:if="${item.paymentMethod.name().equals('ATM')}" th:onclick="confirmCancelOrder(this)"
                          th:data-id="${item.id}" th:data-page="${currentPage}"
                          class="flex justify-center items-center text-[12px] hover:bg-neutral-200 cursor-pointer border px-[2px]">
                          <span>
                            Hủy
                          </span>
                        </div>

                        <div th:if="${!item.status.name().equals('REFUNDING') &&  !item.status.name().equals('REFUNDED')}"
                         th:onclick="confirmReturnOrder(this)" th:data-id="${item.id}" th:data-page="${currentPage}"
                          class="flex justify-center items-center text-[12px] hover:bg-neutral-200 cursor-pointer border px-[2px]">
                          <span>
                            Hoàn trả
                          </span>
                        </div>

                      </div>
                      <div th:if="${!item.created_at.after(canCancelOrReturnDate)}">
                        -
                      </div>

                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- begin upgrade order modal -->
    <div class="relative z-10 hidden" id="upgrade_order_modal" aria-labelledby="modal-title" role="dialog"
      aria-modal="true">
      <!--
        Background backdrop, show/hide based on modal state.
    
        Entering: "ease-out duration-300"
          From: "opacity-0"
          To: "opacity-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100"
          To: "opacity-0"
      -->
      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

      <div class="fixed inset-0 z-10 overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
          <!--
            Modal panel, show/hide based on modal state.
    
            Entering: "ease-out duration-300"
              From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
              To: "opacity-100 translate-y-0 sm:scale-100"
            Leaving: "ease-in duration-200"
              From: "opacity-100 translate-y-0 sm:scale-100"
              To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          -->
          <div
            class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
            <form id="upgrade_order_form" action="/order/upgrade">
              <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">

                <div class="sm:flex sm:items-start">
                  <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                    <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Nâng cấp gói</h3>

                    <div class="flex gap-[30px] mt-[15px]">
                      <div class="grid">
                        <label class="font-semibold">
                          Gói hiện tại
                        </label>

                        <span class="text-base px-[5px]">
                          Gói 1
                        </span>
                        <input id="currentOrderId" class="hidden">
                      </div>
                      <div class="grid">
                        <label class="font-semibold">
                          Chọn gói nâng cấp
                        </label>
                        <select name="upgradeOrderId" class="text-base border border-neutral-300 px-[5px]">
                          <option value="1">Gói 1</option>
                          <option value="2">Gói 2</option>
                          <option value="3">Gói 3</option>
                        </select>
                      </div>
                    </div>

                    <div class="mt-[15px]">
                      <label class="font-semibold">
                        Số tiền cần thanh toán:
                      </label>

                      <p>
                        145.000 ₫ (Gói mới) - 50.000 ₫ (Gói cũ)=95.000 ₫
                      </p>
                    </div>

                    <div class="grid mt-[15px]">
                      <label class="font-semibold">
                        Chọn hình thức thanh toán
                      </label>
                      <select name="paymentMethod" class="text-base border border-neutral-300 px-[5px]">
                        <option value="VN_PAY">Thanh toán qua VNPAY</option>
                        <option value="ATM">Thanh toán chuyển khoản</option>
                      </select>
                    </div>

                  </div>
                </div>
              </div>
              <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                <button type="button"
                  class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto">Nâng
                  cấp</button>
                <button type="button"
                  class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Hủy</button>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>

    <!-- end upgrade order modal -->


    <!-- confirm modal -->
    <script>
      function showConfirmModal(title, func) {
        console.log('show modal,' + title);
        document.getElementById('confirm_modal').classList.remove('hidden');
        document.getElementById('confirm_modal_title').innerHTML = title;
        dispatchFuncModal = func;
      }

      function closeConfirmModal() {
        console.log('close modal,');
        document.getElementById('confirm_modal').classList.add('hidden');
        dispatchFuncModal = null;
      }

      window.dispatchFuncModal = null;
      function confirmModalOk() {
        console.log('confirm modal ok');
        document.getElementById('confirm_modal').classList.add('hidden');
        if (dispatchFuncModal != null) {
          dispatchFuncModal();
        }
      }
    </script>

    <div id="confirm_modal" tabindex="-1" aria-hidden="true"
      class="fixed top-0 left-0 right-0 z-50 bg-[#9e9e9e38] hidden flex  justify-center w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative w-full max-w-2xl max-h-full pt-[5%]">
        <!-- Modal content -->
        <div class="relative z-[1000] bg-white rounded-lg shadow dark:bg-gray-700">
          <!-- Modal header -->
          <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
            <h3 id="confirm_modal_title" class="text-xl font-semibold text-gray-900 dark:text-white">
              Bạn muốn hoàn trả đơn hàng này?
            </h3>

          </div>
          <!-- Modal footer -->

          <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
            <button data-modal-hide="defaultModal" type="button" onclick="confirmModalOk()"
              class="text-white bg-[#f45c43] hover:bg-[#f86d58] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Chắc chắn</button>
            <button data-modal-hide="defaultModal" type="button" onclick="closeConfirmModal()"
              class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Hủy</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>

</html>