<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tìm kiếm</title>
    <link href="../../static/main.css" rel="stylesheet">
</head>

<body class="bg-[#f6f6f6]">
    <div layout:fragment="content"  class="max-w-[1100px] mx-auto flex bg-white pt-[20px]">
        <div class="form-search w-[300px] border-r">
            <form th:action="@{'/search'}" class="grid space-y-5 justify-center">
                <div class="flex flex-col space-y-5">
                    <label for="keyword">
                        <p class="font-semibold text-slate-700 pb-2">Từ khóa:</p>
                        <input id="keyword" name="q" type="text"
                               class="w-full py-[5px] border border-slate-200 rounded-lg px-[10px] focus:outline-none focus:border-slate-500 hover:shadow"
                               placeholder="tên truyện, tác giả..." th:value="${filterInput.q}">
                    </label>
                </div>

                <div class="flex flex-col space-y-5 mt-[15px]">
                    <label for="genres">
                        <p class="font-semibold text-slate-700 pb-2">Thể loại:</p>
                        <select name="genreId" id="genres" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                style="border: 1px solid #ebebeb;">
                            <option value="" th:text="'Chọn thể loại'"> </option>
                            <option th:each="gener : ${mangaGenre}" th:text="${gener.name}" th:value="${gener.id}" th:selected="${filterInput.genreId == gener.id}"></option>
                        </select>
                    </label>
                </div>

                <div class="flex flex-col space-y-5 mt-[15px]">
                    <label for="releaseStatus">
                        <p class="font-semibold text-slate-700 pb-2">Tình trạng phát hành:</p>
                        <select name="status" id="releaseStatus" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                style="border: 1px solid #ebebeb;">
                            <option value="" th:text="'Chọn trạng thái'"></option>
                            <option th:each="trangthai : ${trangThai}" th:text="${trangthai.getValue()}" th:value="${trangthai.getKey().name()}"  th:selected="${filterInput.status != null && filterInput.status.equals(trangthai.getKey())}"></option>
                        </select>
                    </label>
                </div>


                <div class="flex flex-col space-y-5 mt-[15px]">
                    <label for="releaseStatus">
                        <p class="font-semibold text-slate-700 pb-2">Năm phát hành:</p>
                        <select name="releaseYear" id="releaseYear" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                style="border: 1px solid #ebebeb;">
                            <option value="" th:text="'Chọn năm phát hành'"></option>
                            <option th:value="${year}"
                                    th:text="${year}"
                                    th:each="year : ${releaseYearList}"
                                    th:selected="${filterInput.releaseYear != null && filterInput.releaseYear == year}"
                            />
                        </select>
                    </label>
                </div>


                <div class="flex flex-col space-y-5 mt-[15px]">
                    <label for="mangaType">
                        <p class="font-semibold text-slate-700 pb-2">Loại truyện:</p>
                        <select name="mangaType" id="mangaType"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                style="border: 1px solid #ebebeb;">
                            <option value="" th:text="'Chọn loại truyện'"></option>
                            <option value="TEXT" th:selected="${filterInput.mangaType != null && filterInput.mangaType.name()== 'TEXT'}">Truyện ảnh</option>
                            <option value="IMAGE" th:selected="${filterInput.mangaType != null && filterInput.mangaType.name()== 'IMAGE'}">Truyện chữ</option>
                        </select>
                    </label>
                </div>

                <div class="flex flex-col space-y-5 mt-[15px]">
                    <label for="isFree">
                        <p class="font-semibold text-slate-700 pb-2">Hình thức trả phí:</p>
                        <select name="isFree" id="isFree"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                               >
                            <option value="true" th:selected="${filterInput.isFree != null && !filterInput.isFree}">Trả phí</option>
                            <option value="false" th:selected="${filterInput.isFree != null && filterInput.isFree}">Miễn phí</option>
                        </select>
                    </label>
                </div>

                <div class="px-4 py-3">
                    <button type="reset"
                            class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">
                        Làm mới
                    </button>
                    <button type="submit"
                            class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto">Tìm kiếm</button>

                </div>
            </form>

        </div>
        <h3 th:if="${mangaEntity.content == null}">Không có dữ liệu!</h3>
        <div th:else class="mx-2 p-4">
            <div class="flex justify-between">
                <span class="mb-5 font-bold text-xl" th:text="${mangaEntity.getTotalElements() + ' kết quả tìm kiếm'}"></span>

                <span class="border rounded p-[5px] h-fit">
                  <span th:text="${mangaEntity.getNumber() + 1}"/>/<span th:text="${mangaEntity.getTotalPages()}" />
                </span>
            </div>
            <hr class="border border-zinc-600">
            <div class="manga-list">
                <!-- Cards 1 -->
                <div class="flex justify-between manga-item" th:each="mangaE : ${mangaEntity.content}">
                    <div class="p-4">
                        <img class="w-56 h-70 border rounded"
                            th:src="${mangaE.featuredImage}" alt="">
                    </div>
                    <div class="px-4 ">
                        <div class="flex justify-center">
                            <div class="min-w-[400px] mx-2 text-sm">
                                <!-- content here -->
                                <div class="py-4">
                                    <h3 class="font-medium text-xl" th:text="${mangaE.title}"></h3>
                                </div>
                                <div class="p-4 bg-[#f6f6f6] w-full gap-x-[40px] grid grid-cols-2">
                                    <div class="flex  justify-between">
                                        <p class="font-semibold text-slate-700 pb-2">Thể loại:</p>
                                        <div class="py-2" th:inline="text">
                                            <span th:each="itemgenre,iter : ${mangaE.genres}">
                                            <span th:text="${itemgenre.name}"></span>
                                            <span th:if="${!iter.last}" th:text="','"></span>
                                    </span>
                                        </div>
                                    </div>

                                    <div class="flex  justify-between">
                                        <p class="font-semibold text-slate-700 pb-2">Tác giả::</p>
                                        <div class="py-2">
                                            <span>tes1,test</span>
                                        </div>
                                    </div>

                                    <div class="flex  justify-between">
                                        <div class="py-2 bg-[#]">
                                            <p class="font-semibold text-slate-700 pb-2">
                                                Trạng thái phát hành
                                            </p>
                                        </div>
                                        <div class="py-2">
                                            <span th:text="${trangThai[mangaE.mangaStatus]}"></span>
                                        </div>
                                    </div>

                                    <div class="flex  justify-between space-x-2">
                                        <p class="font-semibold text-slate-700 pb-2">Năm phát hành:</p>
                                        <div class="py-2">
                                            <span th:text="${mangaE.releaseYear}"></span>
                                        </div>
                                    </div>

                                    <div class="flex  justify-between space-x-2">
                                        <div class="py-2">
                                            <p class="font-semibold text-slate-700 pb-2">Lượt đánh giá</p>
                                        </div>
                                        <div class="py-2">
                                            <span>5/1</span>
                                        </div>
                                    </div>
                                </div>

                                <!--                                  for display chapter by vol -->
                                <ul th:if="${mangaE.volumeEntities.size() > 0 && volI.index < 1}"
                                    class="latest-chapters grid space-y-2 mt-[10px] gap-[5px] p-0"
                                    th:each="volume,volI : ${mangaE.volumeEntities}">
                                    <li th:each="chapter,iter: ${volume.chapterEntities}" th:if="${iter.index < 2}">

                                        <div class="gap-[5px] flex items-center">
                                            <a th:href="@{'/manga/'+${mangaE.mangaName}+'/chapter/'+${chapter.id}}"
                                                th:text="${'Chương ' + (chapter.chapterIndex + 1)}"
                                                style="border: 1px solid #ebebeb"
                                                class="block cursor-pointer min-w-[80px] max-w-[120px] py-[2px] h-full text-center text-[12px] text-[#666666] hover:text-white hover:bg-[#eb3349] duration-300 ease-in rounded-[10px]">
                                                </a>
                                            <span class="text-[12px] text-[#666666]"
                                                th:text="${'Tập ' + (volume.volumeIndex + 1)}">
                                            </span>
                                            <span class="text-[12px] text-[#666666] text-center" th:text="${volume.createdAt}">
                                                2023-24-12</span>
                                        </div>

                                    </li>
                                </ul>
<!--                                  for display chapter by chap -->
                                <ul th:else class="latest-chapters grid mt-[10px] gap-[5px] p-0">
                                    <li class="gap-[5px] flex" th:each="chapter,iter: ${mangaE.chapters}"
                                        th:if="${iter.index < 2}">
                                        <a th:href="@{'/manga/'+${mangaE.mangaName}+'/chapter/'+${chapter.id}}"
                                            th:text="${'Chương ' + (chapter.chapterIndex + 1)}"
                                            style="border: 1px solid #ebebeb"
                                            class="block cursor-pointer min-w-[80px] max-w-[120px] py-[2px] h-full text-center text-[12px] text-[#666666] hover:text-white hover:bg-[#eb3349] duration-300 ease-in rounded-[10px]">
                                        </a>
                                        <span class="text-[12px] text-[#666666] text-center" th:text="${chapter.createdAt}">
                                            2023-24-12</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div th:if="${mangaEntity.content.size() > 0}" th:replace="fragments/page-component :: page-component" />
            </div>
        </div>
    </div>
</body>

</html>