<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Webtoo- Đọc truyện 24/7</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">-->
    <link href="../../static/main.css" rel="stylesheet">
    <link href="/static/main.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>


    <style>
        a{
            text-decoration: unset;
            color: black;
        }

        ul, ol{
            list-style: none;
        }
        body{
            background: #f6f6f6;
        }
        img{
            width: 100%;
            height: 100%;
        }
        html, body{
           font-family: 'Poppins', sans-serif;
        }


    </style>
</head>

<body>
<div th:replace="fragments/toast :: toast-component"/>
<header th:replace="fragments/header-component :: header"/>

<div class="main-layout lg:w-[1100px] mx-auto shadown-sm bg-white p-[15px]" layout:fragment="content">
    <div class="main_layout_content w-full flex">
        <div class="main_layout_content_left w-[800px]"
             layout:fragment="main-layout-left"></div>

        <div class="main_layout_content_right w-[300px] pl-[10px]"
             layout:fragment="main-layout-right"
        ></div>
    </div>
</div>

<footer th:replace="fragments/footer-component :: footer"/>
<script th:if="${param != null && param.loginType != null}" th:inline="javascript">
/*<![CDATA[*/
        const loginType =  [[${ param.loginType }]]

        window.addEventListener("DOMContentLoaded", (event) => {
            setTimeout(() => {
            window.Toast.success(loginType[0] == '0' ? 'Đăng nhập thành công!' : 'Đăng ký thành công!');
            }, 300);
        });
/*]]>*/

</script>


</body>

</html>
