<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout.html}"
>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link href="../static/main.css" rel="stylesheet"/>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .accordion {
          /* background-color: #eee; */
          /* color: #444; */
          cursor: pointer;
          padding: 18px;
          width: 100%;
          border: none;
          text-align: left;
          outline: none;
          font-size: 15px;
          transition: 0.4s;
        }
        
        .active, .accordion:hover {
          /* background-color: #ccc; */
          background-color: aliceblue;
        }
        
        .accordion:after {
          content: '\002B';
          /* color: #777; */
          font-weight: bold;
          float: right;
          margin-left: 5px;
        }
        
        .active:after {
          content: "\2212";
        }
        
        .panel {
          padding: 0 18px;
          background-color: white;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.2s ease-out;
        }


        .rating {
            display: flex;
            align-items: center;
        }

        .rating-star {
            font-size: 2rem;
            color: #ccc;
            cursor: pointer;
            transition: all 0.2s ease;
        }

        .rating-star:hover,
        .rating-star:hover ~ .rating-star {
            color: #ffd700;
        }

        .rating-input {
            display: none;
        }

    </style>
</head>

<body>
<div class="flex justify-center" layout:fragment="content" th:each="model : ${model}">
    <div class="max-w-[1100px] mx-auto " >
        <div class="flex flex-col" >
           <div class="p-2">
                <nav class="flex items-center text-gray-500  font-light">
                    <a href="/index">Home</a>
                    
                    <span>/</span>
                    <a href="#">Manga</a>
                    <span>/</span>
                    <a th:href="@{'/manga/' + ${model.mangaName} + '/' + ${model.id}}"
                               th:text="${'Truyện ' + model.mangaName}"></a>
                    
                </nav>
           </div>
        </div>
        <div class="flex flex-col  my-4" >
            <div class="p-2">
                <h1 class="text-2xl" th:text="${'Manga ' + model.mangaName}" >
                    <!-- Manga Text Chapter -->
                </h1>
            </div>
        </div>
        <div class="flex flex-col  mt-2" >
            <div class="p-2">
                <div class="flex justify-center">
                    <div class="bg-slate-100  shadow-lg ">
                        <img class="h-96 w-60" th:src="${model.featuredImage}">
                    </div>
                    <div class="w-2/3 ">
                        <div class="flex  justify-center flex flex-row ">
                            <div class=" flex flex-col justify-center">
                                <div class="rating">
                                    <input class="rating-input" type="radio" name="rating" value="5" id="rating-5">
                                    <label class="rating-star" for="rating-5">★</label>

                                    <input class="rating-input" type="radio" name="rating" value="4" id="rating-4">
                                    <label class="rating-star" for="rating-4">★</label>

                                    <input class="rating-input" type="radio" name="rating" value="3" id="rating-3">
                                    <label class="rating-star" for="rating-3">★</label>

                                    <input class="rating-input" type="radio" name="rating" value="2" id="rating-2">
                                    <label class="rating-star" for="rating-2">★</label>

                                    <input class="rating-input" type="radio" name="rating" value="1" id="rating-1">
                                    <label class="rating-star" for="rating-1">★</label>
                                </div>


                                <script th:inline="javascript">

                                    /*<![CDATA[*/



                                    // console.log(model + ' model id');

                                    $(document).ready(function() {
                                        // Lấy phần tử HTML chứa đánh giá sao
                                        const ratingContainer = $('.rating');
                                        const model = /*[[${model.getId()}]]*/ 'default';
                                        // Endpoint của REST API để gửi đánh giá sao lên server
                                        const apiUrl = "http://localhost:8080/rating/add";


                                        // Thiết lập sự kiện khi người dùng thay đổi đánh giá sao
                                        ratingContainer.find('.rating-input').on('change', function() {
                                            const newRatingValue = $(this).val(); // Lấy giá trị đánh giá sao mới


                                            // Gọi API để gửi đánh giá sao lên server
                                            addReview({ rate: newRatingValue, mangaEntity: model });

                                            function addReview(review) {
                                                // Tạo đối tượng Request
                                                const request = new Request(apiUrl, {
                                                    method: 'POST',
                                                    headers: {
                                                        'Content-Type': 'application/json'
                                                    },
                                                    body: JSON.stringify(review)
                                                });

                                                // Gửi request sử dụng fetch API
                                                fetch(request)
                                                    .then(response => {
                                                        if (!response.ok) {
                                                            throw new Error('Network response was not ok');
                                                        }
                                                        return response.json();
                                                    })
                                                    .then(result => {
                                                        console.log('Success:', result);
                                                    })
                                                    .catch(error => {
                                                        console.error('Error:', error);
                                                    });
                                            }
                                        });

                                        // Lấy đánh giá sao từ REST API và hiển thị lên phần tử HTML
                                        const url = 'http://localhost:8080/rating/getRating/ + model';
                                        fetch('http://localhost:8080/rating/getRating/ + model', {method: 'GET'})
                                            .then(data => { // Thay đổi biến từ "response" sang "data"
                                                if (!data.ok) {
                                                    throw new Error('Network response was not ok');
                                                }
                                                return data.json();
                                            })
                                            .then(result => {
                                                // Thiết lập giá trị đánh giá sao lên phần tử HTML
                                                ratingContainer.attr('data-rating', result.rating);

                                                // Hiển thị các icon sao tương ứng với giá trị đánh giá
                                                const ratingValue = ratingContainer.attr('data-rating');
                                                ratingContainer.find('.rating-input').each(function() {
                                                    if ($(this).val() > ratingValue) {
                                                        $(this).next('.rating-star').removeClass('rated');
                                                    } else {
                                                        $(this).next('.rating-star').addClass('rated');
                                                    }
                                                });
                                            })
                                            .catch(error => {
                                                console.error('Error:', error);
                                            });
                                    });

                                    /*]]>*/



                                </script>
                            </div>
                            <div class="flex justify-center   ">
                                <div class="flex justify-end">
                                    <div class="mr-6 ">
                                        <p th:text="${'Trạng thái: ' +  model.mangaStatus}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex  justify-center flex-row pl-6 ">
                            <div class=" basis-1/4">
                                <h5>Xếp hạng</h5>
                            </div>
                            <div class="basis-3/4 " th:each="avg : ${rating}"   >

                                <h5 th:if="${avg.xh == null}" th:text="${'Trung bình 5/5 out of 1'}"></h5>

                                <h5 th:unless="${avg.xh == null}" th:text="${'Trung bình '+ avg.xh + '/ 5 out of ' + avg.tongso }"></h5>
                            </div>
                        </div>
                        <div class="flex  justify-center flex-row pl-6">
                            <div class=" basis-1/4 ">
                                <h5>Thứ hạng</h5>
                            </div>
                            <div class="basis-3/4">
                                <h5>Thứ 6, nó có 552 lượt xem hàng tháng</h5>
                            </div>
                        </div>
                        <div class="flex  justify-center flex-row pl-6">
                            <div class=" basis-1/4">
                                <h5>Tên khác</h5>
                            </div>
                            <div class="basis-3/4">
                                <h5 th:text="${model.alternativeTitle}"></h5>
                            </div>
                        </div>

                        <div class="flex  justify-center flex-row  pl-6">
                            <div class=" basis-1/4 ">
                                <h5>(Các) tác giả</h5>
                            </div>
                            <div class="basis-3/4">
                                <span th:each="item,iter : ${model.authors}">
                                    <span th:text="${item.name}"></span>
                                    <span th:if="${!iter.last}" th:text="','"></span>
                                </span>
                            </div>
                        </div>

                        <div class="flex  justify-center flex-row pl-6">
                            <div class=" basis-1/4 ">
                                <h5>Thể loại</h5>
                            </div>
                            <div class="basis-3/4">
                                <span th:inline="text">
                                    <span th:each="itemgenre,iter : ${model.genres}">
                                        <span th:text="${itemgenre.name}"></span>
                                        <span th:if="${!iter.last}" th:text="','"></span>
                                    </span>
                                </span>
                            </div>

                        </div>
                        <div class=" flex ml-3 pl-6">
                            <a href="" class="bg-red-400">Đọc truyện</a>
                            <a class="ml-3 bg-red-400">Đọc tiếp</a>
                        </div>
                    </div>
                  </div>
                
            </div>
        </div>
        <div class="flex flex-col mt-2" >
            <div class="shadow">
                <h1 class="text-2xl">
                    SUMMARY
                </h1>
            </div>
            <hr>
            <div class="p-2">
                <div th:utext="${model.description}">
                </div>
            </div>
        </div>
        <div class="flex flex-col  mt-2" >
            <div class="shadow">
                <h1 class="text-2xl">Danh sách chương mới nhất</h1>
            </div>
            <hr>
            <div class="p-2">
                <!-- for display by type -->
                <div class="mt-[10px] grid gap-y-[15px] mb-[50px]" th:if="${model.displayType.name} == 'VOL'">
                    <div class="vol-item px-[10px] rounded" th:if="${model.displayType.name} == 'VOL'"
                         th:each="itemvolume : ${model.volumeEntities}">
                            <span class="px-[10px] py-[5px] bg-neutral-200 flex justify-between rounded cursor-pointer">
                                <p class="text-[18px] font-bold m-0"
                                   th:text="${'Tập ' + (itemvolume.volumeIndex + 1) + ': ' + itemvolume.name}">
                                </p>
                                <span>+</span>
                            </span>

                        <ul th:else class="hidden latest-chapters grid mt-[10px] ml-[30px] gap-[5px] divide-y">
                            <li class="gap-[5px] flex justify-between"
                                th:each="chapter,iter: ${itemvolume.chapterEntities}">
                                <a th:href="@{'/manga/'+${model.title}+'/chapter/'+${chapter.id}}"
                                   th:text="${'Chương ' + (chapter.chapterIndex + 1) + ': ' + chapter.chapterName}"
                                   class="px-[16px] font-bold cursor-pointer text-[#666666] w-full hover:text-[#eb3349] duration-300 ease-in rounded-[10px]">
                                </a>
                                <span th:text="${chapter.createdAt}"></span>
                            </li>
                        </ul>
                    </div>
                    <script>
                        document.addEventListener('DOMContentLoaded', () => {
                            const volItems = document.querySelectorAll('.vol-item');
                            volItems.forEach((item) => {
                                const chapterList = item.querySelector('ul');
                                item.addEventListener('click', () => {
                                console.log('vol click: ', item)
                                    chapterList.classList.toggle('hidden');
                                });
                            });
                        });

                    </script>
                </div>

                <div th:if="${model.displayType.name} == 'CHAP'">
                    <ul th:else class="latest-chapters grid mt-[10px] ml-[15px] gap-[5px] divide-y">
                        <li class="gap-[5px] flex justify-between" th:each="chapter,iter: ${model.chapters}">
                            <a th:href="@{'/manga/'+${model.title}+'/chapter/'+${chapter.id}}"
                               th:text="${'Chương ' + (chapter.chapterIndex + 1) + ': ' + chapter.chapterName}"
                               class="font-bold cursor-pointer text-[#666666] w-full hover:text-[#eb3349] duration-300 ease-in rounded-[10px]">
                            </a>
                            <span th:text="${chapter.createdAt}"></span>
                        </li>
                    </ul>
                </div>

                <div class="mt-[100[px]">
                </div>
            </div>
        </div>
    </div>

</div>
    
</body>
</html>
