<div th:fragment="user-sidebar" class="pt-4 w-[275px] bg-white bordered border-r-[1px]">
    <div
            class="w-full h-auto rounded-md"
    >
        <div class="py-[20px]">
            <img
                    th:src="${session.loggedUser.avatar != null ? session.loggedUser.avatar : '/static/icons/avatar-icon.png'}"
                    class="w-32 rounded-full shadow-lg border-solid mx-auto"
                    alt="Avatar"
            />
        </div>
        <div>
            <h2 class="text-center text-[17px] font-semibold" th:text="${session.loggedUser.fullName}"></h2>
        </div>
        <div class="text-[13px] text-center mb-[15px]">
            Thời hạn đọc còn lại:
            <span th:if="${session.loggedUser.getCanReadUntilDate() == null || session.loggedUser.getCanReadUntilDate().before(T(java.sql.Date).valueOf(#dates.format(#dates.createNow(),'YYYY-MM-dd')))}">
                0 ngày
            </span>

            <div th:if="${session.loggedUser.getCanReadUntilDate() != null}">
                  <span th:if="${#dates.format(#dates.createNow(),'YYYY/MM/dd') == #dates.format(session.loggedUser.getCanReadUntilDate(),'YYYY/MM/dd')}">
                        Hết hôm nay
                  </span>
                <span th:if="${session.loggedUser.getCanReadUntilDate().after(#dates.createNow())}"
                      th:text="${(session.loggedUser.getCanReadUntilDate().getTime() - T(java.sql.Date).valueOf(#dates.format(#dates.createNow(),'YYYY-MM-dd')).getTime()) / (1000 * 60 * 60 * 24) + ' ngày.'}"/>

            </div>


        </div>
    </div>
    <div class="my-10 w-full h-[154px]">
        <div class="w-full text-gray-900 bg-white rounded-lg">
            <button
                    th:onclick="| window.location.href='/user/profile'|"
                    type="button"
                    th:class="${'relative inline-flex gap-[10px] items-center w-full px-4 py-2 text-sm font-medium border-b rounded-b-md border-gray-200 focus:z-10 focus:ring-2 hover:bg-red-400 hover:text-white ' + (currentTab != null && currentTab == 'profile' ? ' bg-red-400 text-white': ' bg-white')}"
            >
                <i class="fas fa-user"></i>
                <span>Thông tin cá nhân</span>
            </button>

            <button type="button" th:onclick="|window.location.href='/user/change_password'|"
                    th:class="${'relative inline-flex gap-[10px] items-center w-full px-4 py-2 text-sm font-medium border-b rounded-b-md border-gray-200 focus:z-10 focus:ring-2 hover:bg-red-400 hover:text-white ' + (currentTab != null && currentTab == 'change_password' ? ' bg-red-400 text-white': ' bg-white')}">
                <i class="fas fa-lock"></i>
                <span> Đổi mật khẩu</span>
            </button>

            <button
                    th:onclick="| window.location.href='/user/subscription-status'|"
                    type="button"
                    th:class="${'relative inline-flex gap-[10px] items-center w-full px-4 py-2 text-sm font-medium border-b rounded-b-md border-gray-200 focus:z-10 focus:ring-2 hover:bg-red-400 hover:text-white ' + (currentTab != null && currentTab == 'subscription-status' ? ' bg-red-400 text-white': ' bg-white')}">
                <i class="fas fa-window-maximize"></i>
                <span>Gói của bạn</span>
            </button>

            <button type="button" th:onclick="| window.location.href='/user/order-history?status=COMPLETED&search='|"
                    th:class="${'relative inline-flex gap-[10px] items-center w-full px-4 py-2 text-sm font-medium border-b rounded-b-md border-gray-200 focus:z-10 focus:ring-2 hover:bg-red-400 hover:text-white ' + (currentTab != null && currentTab == 'order-history' ? ' bg-red-400 text-white': ' bg-white')}">
                <i class="fas fa-history"></i>
                <span>Lịch sử mua</span>
            </button>

            <button type="button" th:onclick="| window.location.href='/user/read-history'|"
                    th:class="${'relative inline-flex gap-[10px] items-center w-full px-4 py-2 text-sm font-medium border-b rounded-b-md border-gray-200 focus:z-10 focus:ring-2 hover:bg-red-400 hover:text-white ' + (currentTab != null && currentTab == 'read-history' ? ' bg-red-400 text-white': ' bg-white')}">
                <i class="fas fa-history"></i>
                <span>Lịch sử đọc</span>
            </button>
        </div>
    </div>
</div>