<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Default layout title</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../static//main.css" rel="stylesheet">
    <link href="/static/main.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <style>
        a{
            text-decoration: unset;
        }

        ul, ol{
            list-style: none;
        }
    </style>
</head>

<body>
<div th:replace="fragments/toast :: toast-component" />
<header th:replace="fragments/header-component :: header"/>

<div class="main-layout w-[1100px] mx-auto shadown-sm" layout:fragment="content">
    <div class="main_layout_content w-full flex">
        <div class="main_layout_content_left w-[800px]"
             layout:fragment="main-layout-left"></div>

        <div class="main_layout_content_right w-[300px] pl-[10px]"
             layout:fragment="main-layout-right"
        ></div>
    </div>
</div>

<footer th:replace="fragments/footer-component :: footer"/>
<script th:if="${hasLogged != null}" th:inline="javascript">

        window.addEventListener("DOMContentLoaded", (event) => {
            setTimeout(() => {
            window.Toast.success(/*[[${hasLogged}]]*/);
            }, 300);
        });
</script>
</body>

</html>
