<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../static/main.css" rel="stylesheet">
</head>

<body>
    <div class="flex justify-center">
        <div class="w-3/4 mx-2 bg-gray-200 p-4">

            <div class="flex justify-between">
                <div class="w-3/4 bg-red-200 p-4">
                  <!-- phần tử con bên trái -->
                    <div class="flex justify-center bg-blue-200">
                        
                        <div class="w-5/6 p-4">
                            <h1>Liên hệ cho chúng tôi</h1>
                            <hr/>
                            <div class="flex justify-center items-center">
                                <div class=" pr-2">
                                    <h1>
                                        Đơn giản chỉ là văn bản giả của ngành công nghiệp in ấn và sắp chữ. Lorem Ipsum đã trở thành 
                                        văn bản giả tiêu chuẩn của ngành kể từ những năm 1500, khi một nhà in không rõ danh tính lấy
                                         một bộ sưu tập kiểu chữ và xáo trộn nó để tạo thành một cuốn sách mẫu.

                                    </h1>
                                    <img src="https://tse1.mm.bing.net/th?id=OIP.Au9T3vZ0nJ9xucVeFQh4OAHaKO&pid=Api&P=0" 
                                    class="mx-auto">
                                    <h1>
                                        Đơn giản chỉ là văn bản giả của ngành công nghiệp in ấn và sắp chữ. Lorem Ipsum đã trở thành 
                                        văn bản giả tiêu chuẩn của ngành kể từ những năm 1500, khi một nhà in không rõ danh tính lấy
                                         một bộ sưu tập kiểu chữ và xáo trộn nó để tạo thành một cuốn sách mẫu.

                                    </h1>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
                <div class="w-1/4 bg-blue-200 pl-1 pr-3 pt-5">
                  <!-- phần tử con bên phải -->
                  <div class="bg-red-200 my-5">
                    <h1 class="pl-2 py-2 shadow-sm">Chủ đề nóng</h1>
                    <div class="flex justify-center p-1">
                        <div class="w-4/5 overflow-hidden shadow rounded-lg">
                            <img src="https://i.pinimg.com/736x/89/73/4f/89734f2e8d5a975fb2e533a59bf1e98f.jpg" alt="Card Image" class="w-full h-48 object-cover">
                            <div class="p-1">
                              <h2 class="text-lg font-medium text-gray-800">Tin tức 1</h2>
                              <!-- <p class="text-gray-600 mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-center p-1">
                        <div class="w-4/5 overflow-hidden shadow rounded-lg">
                            <img src="https://i.pinimg.com/736x/89/73/4f/89734f2e8d5a975fb2e533a59bf1e98f.jpg" alt="Card Image" class="w-full h-48 object-cover">
                            <div class="p-1">
                              <h2 class="text-lg font-medium text-gray-800">Tin tức 1</h2>
                              <!-- <p class="text-gray-600 mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
                            </div>
                        </div>
                    </div>
                    
                  </div>

                  <div class="bg-red-200">
                    <h1 class="pl-2 py-2 shadow-sm " >Thể loại</h1>
                    <div class="grid grid-cols-2 gap-4 text-center">
                        <div class="mx-1 shadow-sm ">01</div>
                        <div class="mx-1 shadow-sm ">09</div>
                        <div class="mx-1 shadow-sm ">01</div>
                        <div class="mx-1 shadow-sm ">09</div>
                        <div class="mx-1 shadow-sm ">01</div>
                        <div class="mx-1 shadow-sm ">09</div>
                        <div class="mx-1 shadow-sm ">01</div>
                        <div class="mx-1 shadow-sm ">09</div>
                        
                      </div>
                  </div>
                </div>
              </div>
          <!-- content here -->
          
        </div>
      </div>
</body>

</html>