<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../static/main.css" rel="stylesheet">
</head>

<body>
    <div class="flex justify-center">
        <div class="w-3/4 mx-2 p-4">
            <h1 class="mb-5">Hiển thị 20 kết quả tìm kiếm</h1>
            <hr class="border border-zinc-600">
            <div  class="flex justify-center">
                <div class="w-full mx-2">
                    <!-- Cards 1 -->
                    <div class="flex justify-between">
                        <div class="w-1/4 p-4">
                            <img 
                            class="w-56 h-60"
                            src="https://i.pinimg.com/736x/89/73/4f/89734f2e8d5a975fb2e533a59bf1e98f.jpg" alt="">
                        </div>
                        <div class="w-3/4 px-4 ">
                            <div class="flex justify-center">
                                <div class="w-full mx-2">
                                  <!-- content here -->
                                    <div class="p-4">
                                        <h1>Manga chapter</h1>
                                    </div>
                                    <div class="p-4 bg-red-200">
                                        <div class="flex  justify-between">
                                            <div class="w-1/4 py-2">
                                                <h1>Tác giả</h1>
                                            </div>
                                            <div class="w-3/4 py-2">
                                                <h1>tes1,test</h1>
                                            </div>
                                        </div>
                    
                                        <div class="flex  justify-between">
                                            <div class="w-1/4 py-2">
                                                <h1>Nghệ sĩ</h1>
                                            </div>
                                            <div class="w-3/4 py-2">
                                                <h1>tes1,test</h1>
                                            </div>
                                        </div>
                                        
                                        <div class="flex  justify-between">
                                            <div class="w-1/4 py-2">
                                                <h1>Thể loại</h1>
                                            </div>
                                            <div class="w-3/4 py-2">
                                                <h1>tes1,test</h1>
                                            </div>
                                        </div>
                                        
                                        <div class="flex  justify-between">
                                            <div class="w-1/4 py-2">
                                                <h1>Trạng thái</h1>
                                            </div>
                                            <div class="w-3/4 py-2">
                                                <h1>tes1,test</h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-4">
                                        <div class="flex justify-start">
                                            <div class="mr-4">Latest chapter </div>
                                            <div class="mx-4">
                                                <button>Chapter 6</button>
                                            </div>
                                            <div class="mx-4">2022-05-04 09:12:33 </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- kết thúc card 1 -->
    
                    <!-- Cards 2 -->
                    <div class="flex justify-between">
                        <div class="w-1/4 p-4">
                            <img class="w-56 h-60"
                            src="https://i.pinimg.com/736x/89/73/4f/89734f2e8d5a975fb2e533a59bf1e98f.jpg" alt="">
                        </div>
                        <div class="w-3/4 px-4 ">
                            <div class="flex justify-center">
                                <div class="w-full mx-2">
                                <!-- content here -->
                                    <div class="p-4">
                                        <h1>Manga chapter</h1>
                                    </div>
                                    <div class="p-4 bg-red-200">
                                        <div class="flex  justify-between">
                                            <div class="w-1/4 py-2">
                                                <h1>Tác giả</h1>
                                            </div>
                                            <div class="w-3/4 py-2">
                                                <h1>tes1,test</h1>
                                            </div>
                                        </div>
                    
                                        <div class="flex  justify-between">
                                            <div class="w-1/4 py-2">
                                                <h1>Nghệ sĩ</h1>
                                            </div>
                                            <div class="w-3/4 py-2">
                                                <h1>tes1,test</h1>
                                            </div>
                                        </div>
                                        
                                        <div class="flex  justify-between">
                                            <div class="w-1/4 py-2">
                                                <h1>Thể loại</h1>
                                            </div>
                                            <div class="w-3/4 py-2">
                                                <h1>tes1,test</h1>
                                            </div>
                                        </div>
                                        
                                        <div class="flex  justify-between">
                                            <div class="w-1/4 py-2">
                                                <h1>Trạng thái</h1>
                                            </div>
                                            <div class="w-3/4 py-2">
                                                <h1>tes1,test</h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-4">
                                        <div class="flex justify-start">
                                            <div class="mr-4">Latest chapter </div>
                                            <div class="mx-4">
                                                <button>Chapter 6</button>
                                            </div>
                                            <div class="mx-4">2022-05-04 09:12:33 </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Kết thúc card 2 -->
                </div>
            </div>
        </div>
    </div> 
</body>

</html>