<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../static/main.css" rel="stylesheet">
</head>

<body>
  <div class="container mx-auto">

    <div class="flex">
      <!-- <div class="flex-none w-14 h-14 ...">
        01
      </div> -->
      <div class="grow h-14 ">
        <div class="m-10 ml-20">
          <nav class="w-full rounded-md">
            <ol class="list-reset flex">
              <li>
                <a
                  href="#"
                  class="text-primary transition duration-150 ease-in-out hover:text-primary-600 focus:text-primary-600 active:text-primary-700 dark:text-primary-400 dark:hover:text-primary-500 dark:focus:text-primary-500 dark:active:text-primary-600"
                  >Home</a
                >
              </li>
              <li>
                <span class="mx-2 text-neutral-500 dark:text-neutral-400">/</span>
              </li>
              <li>
                <a
                  href="#"
                  class="text-primary transition duration-150 ease-in-out hover:text-primary-600 focus:text-primary-600 active:text-primary-700 dark:text-primary-400 dark:hover:text-primary-500 dark:focus:text-primary-500 dark:active:text-primary-600"
                  >Library</a
                >
              </li>
              <li>
                <span class="mx-2 text-neutral-500 dark:text-neutral-400">/</span>
              </li>
              <li class="text-neutral-500 dark:text-neutral-400">Data</li>
            </ol>
          </nav>
        </div>
        <div class=" grid grid-cols-4 gap-4">
          <div class="bg-slate-100 ml-20 p-8">
            
            <img src="https://tse3.mm.bing.net/th?id=OIP.X5Ug8PKNLo8v56hmTgQB5wHaJh&pid=Api&P=0" alt="">
          </div>
          <div class="bg-slate-100 col-span-3  mr-20 p-8">
            <div class="post-content">
             
              <div class="post-rating">
                <div class="post-total-rating allow_vote">
                  
  
                  <div class="flex justify-between ">
                    <div class="order-last">
                      Trạng thái: Đang thực hiện
                    </div>
                    <div class="grid grid-cols-5 gap-4">
                      <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill fill-yellow-500" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                      </svg>
                     </div>
                      <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill fill-yellow-500" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                      </svg>
                      </div>
                      <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill fill-yellow-500" viewBox="0 0 16 16">
                          <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                      </div>
                      <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill fill-yellow-500" viewBox="0 0 16 16">
                          <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                      </div>
                      <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star fill-yellow-500" viewBox="0 0 16 16">
                          <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="post-content_item grid grid-cols-5 gap-4 mt-3">
                  <div class="summary-heading ">
                    <h5>Xếp hạng</h5>
                  </div>
                  <div class="summary-content vote-details col-span-4" >
                    <h5>Trung bình 4.2 / 5 trên 24</h5>
                  </div>
                </div>
  
                <div class="post-content_item grid grid-cols-5 gap-4 mt-3">
                  <div class="summary-heading">
                    <h5>Thứ hạng</h5>
                  </div>
                  <div class="summary-content vote-details col-span-4" >
                    <h5>Thứ 6, nó có 552 lượt xem hàng tháng</h5>
                  </div>
                </div>
  
                <div class="post-content_item grid grid-cols-5 gap-4 mt-3">
                  <div class="summary-heading">
                    <h5>Thay thế</h5>
                  </div>
                  <div class="summary-content vote-details col-span-4" >
                    <h5>Kyojin no Shingeki</h5>
                  </div>
                </div>
  
                <div class="post-content_item grid grid-cols-5 gap-4 mt-3">
                  <div class="summary-heading">
                    <h5>(Các) tác giả</h5>
                  </div>
                  <div class="summary-content vote-details col-span-4" >
                    <h5>JSAYAMA Hajime</h5>
                  </div>
                </div>
  
                <div class="post-content_item grid grid-cols-5 gap-4 mt-3">
                  <div class="summary-heading">
                    <h5>Nghệ sỹ</h5>
                  </div>
                  <div class="summary-content vote-details col-span-4" >
                    <h5>JSAYAMA Hajime</h5>
                  </div>
                </div>
  
                <div class="post-content_item grid grid-cols-5 gap-4 mt-3">
                  <div class="summary-heading">
                    <h5>Thể loại</h5>
                  </div>
                  <div class="summary-content vote-details col-span-4" >
                    <h5>Hành động, người lớn, phiêu diêu, anime, hoạt hình, hài</h5>
                  </div>
                </div>
  
                <div class="post-content_item grid grid-cols-5 gap-4 mt-3">
                  <div class="summary-heading">
                    <h5>Kiểu</h5>
                  </div>
                  <div class="summary-content vote-details col-span-4" >
                    <h5>Kinh dị</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mx-20">
          <h1 class="p-3 font-bold text-2xl">Bản tóm tắt</h1>
          <hr>
          <h3>Trong một thế giới hoàn toàn do người khổng lồ cai trị, loài người, vốn đã trở thành thức ăn của chúng,
             đã bao quanh các khu dân cư của mình bằng những bức tường bao la, vừa ngăn cản sự tự do của họ bên ngoài
              bức tường vừa bảo vệ họ khỏi các cuộc xâm lược. Tuy nhiên, do sự xuất hiện của những người siêu khổng 
              lồ vượt qua bức tường, một cuộc đấu tranh tuyệt vọng bắt đầu và những anh hùng trẻ tuổi, mất cha mẹ,
               chiến đấu với người khổng lồ như một quân đoàn huấn luyện, nhằm giành lại tự do của họ.
                Lưu ý: Giành giải thưởng Manga Kodansha ở hạng mục shōnen năm 2011, được đề cử cho giải thưởng Manga Taishox hàng</h3>
        </div>


        <div class="mx-20">
          <h1 class="p-3 font-bold text-2xl">LATEST MANGA RELEASES</h1>
          <hr>
            <!-- Accordion -->
            <div class="relative mb-3">
              <h6 class="mb-0">
                <button
                  class="border-slate-100 text-slate-700 rounded-t-1 group relative flex w-full cursor-pointer items-center border-b border-solid p-4 text-left font-semibold text-dark-500 transition-all ease-in"
                  data-collapse-target="collapse-1"
                >
                  <span>What is Material Tailwind?</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg absolute right-0 pt-1 text-xs group-open:opacity-0" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                  </svg> 
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg absolute right-0 pt-1 text-xs opacity-0 group-open:opacity-100" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/>
                  </svg>
                </button>
              </h6>
              <div
                data-collapse="collapse-1" 
                class="h-0 overflow-hidden transition-all duration-300 ease-in-out" 
                
              >
                <div class="p-4 text-sm leading-normal text-blue-gray-500/80">
                  We're not always in the position that we want to be at. We're constantly
                  growing. We're constantly making mistakes. We're constantly trying to
                  express ourselves and actualize our dreams.
                </div>
              </div>
            </div>
            <div class="relative mb-3">
              <h6 class="mb-0">
                <button
                  class="border-slate-100 text-slate-700 rounded-t-1 group relative flex w-full cursor-pointer items-center border-b border-solid p-4 text-left font-semibold text-dark-500 transition-all ease-in"
                  data-collapse-target="collapse-2"
                >
                  <span>How to use Material Tailwind?</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg absolute right-0 pt-1 text-xs group-open:opacity-0" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                  </svg> 
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg absolute right-0 pt-1 text-xs opacity-0 group-open:opacity-100" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/>
                  </svg>
                </button>
              </h6>
              <div
                data-collapse="collapse-2"
                class="h-0 overflow-hidden transition-all duration-300 ease-in-out"
              >
                <div class="p-4 text-sm leading-normal text-blue-gray-500/80">
                  We're not always in the position that we want to be at. We're constantly
                  growing. We're constantly making mistakes. We're constantly trying to
                  express ourselves and actualize our dreams.
                </div>
              </div>
            </div>
            <div class="relative mb-3">
              <h6 class="mb-0">
                <button
                  class="border-slate-100 text-slate-700 rounded-t-1 group relative flex w-full cursor-pointer items-center border-b border-solid p-4 text-left font-semibold text-dark-500 transition-all ease-in"
                  data-collapse-target="collapse-3"
                >
                  <span>What can I do with Material Tailwind?</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg absolute right-0 pt-1 text-xs group-open:opacity-0" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                  </svg> 
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg absolute right-0 pt-1 text-xs opacity-0 group-open:opacity-100" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/>
                  </svg>
                </button>
              </h6>
              <div
                data-collapse="collapse-3"
                class="h-0 overflow-hidden transition-all duration-300 ease-in-out "
              >
                <div class="p-4 text-sm leading-normal text-blue-gray-500/80">
                  We're not always in the position that we want to be at. We're constantly
                  growing. We're constantly making mistakes. We're constantly trying to
                  express ourselves and actualize our dreams.
                </div>
              </div>
            </div>
            <!-- Accordion -->
        </div>
      </div>
      <!-- <div class="flex-none w-14 h-14 ...">
        03
      </div> -->
    </div>

  </div>
</body>

</html>