<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<head>
<title>Detail post title</title>
</head>

<body>
	<div layout:fragment="main-layout-left">
		<div class="main_layout_content_left pr-[10px]">
			<!-- begin post info -->
			<div class="post_info">
				<h1 class="post_title text-4xl font-bold" th:text="${postModel.title}"></h1>
				<div class="post_metas text-[13px] my-2 flex gap-2">
					<span>
						Category: <a th:href="@{'/category/' + ${postModel.category.categoryName} + '/' + ${postModel.category.id}}" th:text="${postModel.category.categoryName}"  class="text-blue-400"/>
					</span> 
					
					<span class="text-neutral-300">|</span>
					
					<span>
						Wrote by:
						 <a>Admin</a>
					</span> 
					
					<span class="text-neutral-300">|</span>
					
					<span>
						Posted on: 
						<span th:text="${postModel.createdDate}" />
					</span>
					
					<span class="text-neutral-300">|</span>
					
					<span>
						View: 
						<span th:text="${postModel.viewCount}" />
					</span>
				</div>

				<hr class="mt-2" />
			</div>
			<!-- end post info -->

		<!-- begin post content -->
			<article class="post_content mt-[10px]" th:utext="${postModel.content}" />
		<!-- end post content -->
		
			<!-- begin post tags -->
			<div class="post_tags flex gap-2 mt-2">
				<span class="flex gap-2 items-center"> <img
					src="../../static/images/post/tag_icon.svg"> Tags:
				</span>
				<ul class="tag_list text-sm flex flex-wrap gap-[5px]">
					<li class="hover:bg-slate-300 bg-slate-200 px-[10px] py-[2px] rounded" th:each="tag : ${postModel.tags}">
						<a th:href="@{'/tag/'+ ${tag.tagName} + '/' + ${tag.id}}" th:text="${tag.tagName}" />
					</li>
				</ul>
			</div>
			<!-- end post tags -->

			<!-- begin prev-next post max characters: 71  -->
			<div th:replace="post/sections/next-prev-post :: next-prev-post" />
			<!-- end prev-next post -->
			
			<!-- begin post comment -->
			<div th:replace="fragments/comment/comment-section :: comment-section" />
			<!-- end post comment -->

		</div>
	</div>
	<div layout:fragment="main-layout-right">

		fafa
			<!-- begin post sidebar -->
			<div th:replace="post/sections/post-sidebar :: post-sidebar" />
			<!-- end post sidebar -->
	</div>
</body>

</html>